################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/KnewinEventAsp.Api/bin
/KnewinEventAsp.Api/obj
/KnewinEventAsp.Model/bin
/KnewinEventAsp.Model/obj
/KnewinEventAsp.Service/bin
/KnewinEventAsp.Service/obj
/KnewinEventAsp.Repository/bin
/KnewinEventAsp.Repository/obj


/KnewinEventAsp.Web/bin
/KnewinEventAsp.Web/obj
