################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/KnewinEventAspNetMvc5.Web/bin
/KnewinEventAspNetMvc5.Web/obj/Debug
